p12/Clase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="documento">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" name="persona">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element name="nombre" type="xsd:string"/>
                        </xsd:all>
                        <xsd:attribute name="id" type="xsd:string"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
